@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-["Montserrat",sans-serif] bg-navy-blue text-white;
  }
  a:not(#navBtn):hover,
  a:not(#navBtn):active,
  a:not(#navBtn):focus {
    @apply transition-colors duration-300 bg-gradient-to-r from-[#903AFF] to-[#FF26B9] text-transparent bg-clip-text;
  }
}

@layer components {
  .btn {
    @apply px-10 py-3 rounded font-semibold bg-gradient-to-l from-[#903aff] via-[#d434fe] to-[#fe26b9];
  }
}
